body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headerCon {
    background-color: #0171F9;
}
.header {

    height: 80px;
    background-color: #0171F9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0 100px;
    max-width: 1300px;
    margin: auto;
}

.headerLinks {
    width: 50%;
}

.headerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLinks a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
}

.headerLinks a:hover {
    background-color: #1A7FF9;
}


.logo1 {
    border-radius: 50px;
    height: 52px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    background-color: #EE626B;
    color: #fff;
    text-transform: uppercase;
}


.logo1:hover {
    background-color: #9E4147;
    cursor: pointer;
}


.logo img {
    width: 150px;
}



.navCon {
    background-color: #0171F9;
    border-radius: 0 0 100px 100px;
}
.Nav {
    display: flex;
    background-color: #0171F9;
    color: #fff;
    padding: 100px 0;
    max-width: 1300px;
    margin: auto;
}

.Nav .slogan {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.Nav .wlc {
    font-size: x-large;
    height: 10px;
}

.Nav .description {
    color: #000;
    width: 80%;
    font-weight: 500;
    
}

.search {
    position: relative;
    margin-top: 100px;
}

.search input {
    border-radius: 50px;
    border: none;
    outline: none;
    width: 40%;
    height: 50px;
    font-size: large;
    padding-left: 20px;
}

.search input::placeholder {
    font-size:medium;
}

.btn {
    border-radius: 50px;
    height: 52px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    background-color: #EE626B;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #9E4147;
    cursor: pointer;
}

.search .searchBtn {
    position: absolute;
    left: 300px;
}

.left {
    padding-top: 30px;
}



.imgCon img {
    width: 100%;
    border-radius: 20px;
}




/*TRENDING*/
.trendingCon {
    margin: auto;
    max-width: 1300px;
    margin-top: 100px;
}

.tHeader, .mostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-bottom: 40px;
    
}

.tHeader h1{
    margin-top: 0;
}

.trendingCon span{
    text-transform: uppercase;
    color: #EE626B;
    font-weight: 600;
}

.tCard{
    display: flex;
    justify-content: space-between;
}

.tCard .card {
    position: relative;
}

.cName p{
    color: #EE626B;
}


.tCard .card img {
    border-radius: 20px;
}

.tCard .card .cInfo {
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 0 0 20px 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tCard .card .cName {
    padding: 0 20px;
}

.tCard .cName h3 {
    margin-top: 0;
}

.tCard .cName p {
    color: gray;
    margin-bottom: 0;
}


.tCard .cInfo .icon img {
    width: 50px;
}

.tCard .cInfo .icon {
    margin-right: 20px;
}

