* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
}

/* Sections */
.contact-section,
.success-section {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
}

/* Titles */
h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

span {
    color: #00d4ff;
}

/* Cards */
.contact-card,
.success-card {
    width: 400px;
    margin: auto;
    padding: 30px;
    background-color: #111;
    border-radius: 10px;
    border: 1px solid #333;
}

/* Inputs */
.input-box {
    margin-bottom: 15px;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
}

/* Textarea */
textarea {
    height: 100px;
    resize: none;
}

/* LINK AS BUTTON */
.btn {
    display: block;
    margin-top: 15px;
    padding: 12px;
    background-color: #00d4ff;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Hover */
.btn:hover {
    background-color: #00b0cc;
}
