@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 8%;

    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.logo {
    text-decoration: none;
    font-weight: 700;
    color: #00d4ff;
    text-transform: uppercase;
    font-size: 1.8em;
}

.navigation {
    display: flex;
    gap: 25px;
}

.navigation a {
    text-decoration: none;
    color: #e8e8e8;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.3s;
}

.navigation a:hover {
    color: #00d4ff;
}



section {
    padding: 100px 8%;
}



.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url('https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
}

.main h2 span {
    display: block;
    margin-top: 10px;
    color: #00d4ff;
    font-size: 3em;
}

.main h3 {
    color: #e8e8e8;
    font-size: 2em;
    margin: 15px 0 30px;
}

.mainbtn {
    display: inline-block;
    color: #fff;
    background: rgba(0, 212, 255, 0.4);
    padding: 0.9em 2.3em;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.4s ease;
}

.mainbtn:hover {
    background: rgba(0,212,255,0.7);
    transform: scale(1.1);
}

.socialicon {
    margin-top: 40px;
}

.socialicon a {
    color: #00d4ff;
    font-size: 1.7em;
    margin-right: 25px;
}



.title {
    text-align: center;
    color: #00d4ff;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 21em;
    padding: 25px;
    margin: 15px;
    border-radius: 15px;
    background: rgba(255,255,255,0.13);
    backdrop-filter: blur(18px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

.icon {
    color: #00d4ff;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}



.projects {
    background: rgba(0,0,0,0.4);
}

.projectcard {
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255,255,255,0.13);
    transition: 0.7s ease;
}

.projectcard:hover {
    transform: scale(1.1);
}

.projectimg img {
    width: 100%;
}

.projectinfo {
    padding: 1em;
}

.project-category {
    color: #fff;
    font-size: 0.8em;
}

.prject-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}

.more {
    text-decoration: none;
    color: #00d4ff;
    font-size: 0.8em;
}

.more:hover{
    color: aqua;
}


.footer {
    padding: 1.2em 8%;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
    color: #fff;
    align-items: center;
}

.footer p{
    margin: 0;
}

.title2{
    color: #00d4ff;
}